.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainNavbar:hover{
  transition: all 2s;
  transform: rotate(360deg);
  cursor: pointer;
}


.main-bg {
  height: 300px;
  background-image: url("./img/reactMain.png");

  background-size: cover;
  background-position: center;
}
.main-itm {
  width: 95%;

  height: 300px;
}

/* 전환 애니메이션 */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition : opacity 0.5s;  /* opacity 가 변경될 때 0.5초에 걸쳐서 변경해주세요 */
}
/* detail 컴포넌트 투명도 0 -> 1 */
.detail-cmp-opacity-start {
  opacity: 0;
}
.detail-cmp-opacity-end {
  opacity: 1;
  transition : opacity 0.5s; 
}



.recent-products-container {
  position: relative; /* 자식 요소의 위치를 조정하기 위해 부모 요소에 상대적인 위치 지정 */
  /* width:100px;
  height:400px; */

}

.recent-product {
  position: absolute; /* 절대 위치 지정 */
  top: 10px; /* 상단 정렬을 위해 0으로 설정 */
  right: 10px; /* 우측 정렬을 위해 0으로 설정 */
  z-index: 1; /* 메인보다 한 칸 위에 위치하도록 z-index 값 설정 */
  border: 1px solid black; /* 테두리 스타일 설정 */
  background-color: white;
  width: 150px; /* 너비 설정 */
  height: 250px; /* 높이 설정 */
  
}